In [15]:
import numpy as np
import pandas as pd
import regex as re
import nltk
nltk.download('punkt')
nltk.download('stopwords')
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.preprocessing import LabelEncoder

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\rkroc\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rkroc\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [34]:
data = pd.read_csv('clean_data.csv')

In [35]:
data.isnull().sum()

tweet        134
target         0
hashtag    40728
name       29594
url        43391
emoji      47252
dtype: int64

In [36]:
data = data.fillna('')

In [42]:
data

,tweet,target,hashtag,name,url,emoji
0,in other words your food was crapilicious,3,"['katandandre', 'mkr']",,,
1,why is so white studio,3,"['aussietv', 'mkr', 'theblock', 'imacelebritya...",,,
2,a classy whore or more red velvet cupcakes,3,,['xochitlsuckkks'],,
3,meh p thanks for the heads up but not too conc...,3,,['jasongio'],,
4,this is an isis account pretending to be a kur...,3,,['rudhoeenglish'],,
...,...,...,...,...,...,...
47687,black ppl arent expected to do anything depend...,1,,,,
47688,turner did not withhold his disappointment tur...,1,,,,
47689,i swear to god this dumb nigger bitch i have g...,1,,,,
47690,yea fuck you rt if youre a nigger fucking unfo...,1,,['therealexel'],,
47691,bro u gotta chill rt dog fuck kp that dumb nig...,1,,['chillshrammy'],,

In [38]:
LE = LabelEncoder()
LE.fit(data['target'])
data['target'] = LE.transform(data['target'])

In [39]:
data['target'].value_counts()

5    7998
0    7992
2    7973
1    7961
3    7945
4    7823
Name: target, dtype: int64

In [40]:
LE_name_mapping = dict(zip(LE.classes_, LE.transform(LE.classes_)))
print(LE_name_mapping)

{'age': 0, 'ethnicity': 1, 'gender': 2, 'not_cyberbullying': 3, 'other_cyberbullying': 4, 'religion': 5}

In [41]:
# encoded_data, mapping_index = pd.Series(data['target'].unique()).factorize()

In [44]:
stop_words = stopwords.words('english')
stop_words.extend(['rt', 'mkr', 'didn', 'bc', 'n', 'm', 'im', 'll', 'y', 've', 'u', 'ur', 'don', 't', 's','etc'])

data['tweet'] = data['tweet'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
data.head()

,tweet,target,hashtag,name,url,emoji
0,words food crapilicious,3,"['katandandre', 'mkr']",,,
1,white studio,3,"['aussietv', 'mkr', 'theblock', 'imacelebritya...",,,
2,classy whore red velvet cupcakes,3,,['xochitlsuckkks'],,
3,meh p thanks heads concerned another angry dud...,3,,['jasongio'],,
4,isis account pretending kurdish account like i...,3,,['rudhoeenglish'],,

In [48]:
for col in ['hashtag','name','url','emoji']:
    data[col] = data[col].apply(lambda x:len(x))

In [50]:
data

,tweet,target,hashtag,name,url,emoji
0,words food crapilicious,3,22,0,0,0
1,white studio,3,119,0,0,0
2,classy whore red velvet cupcakes,3,0,18,0,0
3,meh p thanks heads concerned another angry dud...,3,0,12,0,0
4,isis account pretending kurdish account like i...,3,0,17,0,0
...,...,...,...,...,...,...
47687,black ppl arent expected anything depended any...,1,0,0,0,0
47688,turner withhold disappointment turner called c...,1,0,0,0,0
47689,swear god dumb nigger bitch got bleach hair re...,1,0,0,0,0
47690,yea fuck youre nigger fucking unfollow fucking...,1,0,15,0,0
47691,bro gotta chill dog fuck kp dumb nigger bitch ...,1,0,16,0,0

In [51]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 1500,ngram_range=(1,3))
X = cv.fit_transform(data['tweet']).toarray()
y = data['target'].values

extra = data[['hashtag','name','url','emoji']].values

In [56]:
extra = np.asarray(extra)

In [58]:
X.shape

(47692, 1500)

In [59]:
X = np.hstack((X,extra))

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [69]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix,f1_score

In [68]:
clf = DecisionTreeClassifier()
clf.fit(X_train,y_train)
pred= clf.predict(X_test)

NameError: name 'f1_score' is not defined

In [72]:
acc = f1_score(pred,y_test,average='micro')
acc

0.7672712024321207